body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
}

.moving-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  margin-left: 10%;
  width: 230px;
  overflow: hidden;
}

.moving-text > p {
  margin: 0;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0);
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;

}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%; /* Match the height of the navbar */
}



.nav li {
  display: inline-block;
  margin-right: 20px;
}

.navbar > li {
  border-left: 1px solid #bbb;
}

li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  display: flex;
  align-items: center; /* Vertically center the content */
  height: 100%; /* Match the height of the navbar */
}

li a:hover {
  background-color: #111;
}

/* Hide the menu button on desktop screens */
@media (min-width: 769px) {
  .nav-button {
      display: none;
  }
}


/* Styles for the sponsor container */
.sponsor-container {
  background: linear-gradient(to bottom, #ccc, #fff); /* Gray background color */
  padding: 20px; /* Add padding for spacing */
  text-align: center;
  border-radius: 10px;
  /* Center-align the content */
}

.sponsor-heading {
  font-size: 24px;
}

/* Styles for the sponsor entries */
.sponsor {
  display: inline-block; /* Display sponsors side by side */
  margin: 20px; /* Add spacing between sponsors */
  text-align: center; /* Center-align the sponsor and name */
}

/* Styles for the sponsor images */
.sponsor-images {
  white-space: nowrap; /* Prevent line break between sponsors */
}

.sponsor img {
  max-width: 150px; /* Set a maximum width for sponsor images */
}

/* Styles for the sponsor names */
.sponsor-name {
  font-size: 16px;
  margin-top: 10px; /* Add spacing between image and name */
}

.cardsocialmediasocialmedia {

  left:40%;
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  gap: 20px 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.cardsocialmediasocialmedia-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 40px;
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #0e0c0c;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to bottom, #ccc, #fff);
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
  height: 100%;
}

.card:hover {
  box-shadow: none;
}

.card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}



